[core]
  editor = code --wait

[user]
  name = Ruben Arakelyan
  email = ruben@arakelyan.uk

[init]
  defaultBranch = main

[gpg]
  program = /usr/local/MacGPG2/bin/gpg

[commit]
  gpgsign = true

[color "status"]
  added = green bold
  changed = red bold strike
  untracked = cyan
  branch = yellow black bold ul

[diff]
  tool = VSCode

[difftool "VSCode"]
  cmd = code --wait --diff $LOCAL $REMOTE
  trustExitCode = true

[difftool]
  prompt = false

[merge]
  tool = VSCode

[mergetool "VSCode"]
  cmd = code --wait $MERGED
  trustExitCode = true

[mergetool]
  prompt = false
