[core]
  editor = /usr/local/bin/nova open --wait

[user]
  name = Ruben Arakelyan
  email = ruben@arakelyan.uk

[init]
  defaultBranch = main

[gpg]
  program = /usr/local/MacGPG2/bin/gpg

[commit]
  gpgsign = true

[color "status"]
  added = green bold
  changed = red bold strike
  untracked = cyan
  branch = yellow black bold ul

[diff]
  tool = Kaleidoscope

[difftool "Kaleidoscope"]
  cmd = /usr/local/bin/ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true

[difftool]
  prompt = false

[merge]
  tool = Kaleidoscope

[mergetool "Kaleidoscope"]
  cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[mergetool]
  prompt = false
